@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
	html,body {
	position:relative;
	width:100%;
	height:100%
}
.x-fullscreen {
	position:absolute !important
}
.x-body {
	position:relative;
	z-index:0
}
.x-inner,.x-body {
	width:100%;
	height:100%
}
.x-sized {
	position:relative
}
.x-innerhtml {
	width:100%
}
.categories-list {
	text-align:center
}
.categories-list .categories-list-container {
	max-width:1024px;
	margin:0 auto
}
.categories-list .categories-list-item {
	background: -webkit-linear-gradient(left, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 85%);
	border:1px solid rgba(67,67,67,0.5);
	height:180px;
	-webkit-transition:background 0.2s ease-in,border-color 0.2s ease-in;
	border-radius: 15px;
	
}

body.x-phone .categories-list .categories-list-item {
	margin:0 20px;
	margin-top:20px;
	padding:30px
	
}
body.x-phone .categories-list .categories-list-item:first-child {
	margin-top:0
}
body:not(.x-phone) .categories-list .categories-list-item {
	display:inline-block;
	padding:30px 50px
}
.categories-list .categories-list-item .image {
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	height:87px;
	max-width:212px
}
body.x-phone .categories-list .categories-list-item .image {
	margin:0 auto
}
body:not(.x-phone) .categories-list .categories-list-item .image {
	width:212px
}
.categories-list .categories-list-item .name {
	padding-top:20px;
	font-size:20px;
	text-shadow:0 1px 0 #000;
	color:#fff;
	font-family:"Quattrocento Sans",sans-serif
}
.x-landscape .categories-list .categories-list-item {
	
	margin:10px;

}
.x-portrait .categories-list .categories-list-item {
	margin:20px
}
.categories-list .x-item-pressed {
	background:rgba(0,53,41,0.7);
	border-color:rgba(0,53,41,0.8)
}
.categories-list .categories-list-inner {
	line-height:10px
}
.x-landscape .categories-list .categories-list-inner {
	padding-top:10px
}
.x-portrait .categories-list .categories-list-inner {
	padding-top:20px;
	padding-bottom:20px
}
.categories-list.root {
	background-image:url(../images/bg.jpg);
	background-position:top center;
	background-repeat:no-repeat
}
body:not(.x-phone).x-landscape .categories-list.root .categories-list-item:first-child {
	margin-right:345px
}
.x-phone .categories-list.root .categories-list-inner {
	padding-top:100px
}
body:not(.x-phone).x-portrait .categories-list.root .categories-list-inner {
	padding-top:280px
}
.flow-item{
	margin-right:10px;
	background-image: -webkit-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);
	border-radius: 15px;
	text-align:center;
	font-size: 20px;
  	font-weight: bold;
}
.flow-item.out{
	background-image: -webkit-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%);
}
.flow-item.hover{
	
	background-image:-webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
}
.flow-item-img {
	margin-top:5px;
	margin-right:10px;
  	display: inline-block;
  	width: 239px;
 	height: 70px;
  	background-repeat: no-repeat;
}
.flow-item .name {
	margin-top:5px;
	font-size:20px;
	text-shadow:0 1px 0 #000;
	color:#fff;
	font-family:"Quattrocento Sans",sans-serif;
}
.flow-item .icon {
	margin-top:5px;
	margin-left:65px;
	background-color:#fff;

	background-repeat:no-repeat;
	height:30px;
	max-width:30px;
  	
}
.dataview-basic .x-dataview-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #c2c2c2;
  height: 80px;
}
/* line 172, ../sass/_shared.scss */
.dataview-basic .x-dataview-item:last-child {
  border-bottom: 0px;
}
/* line 176, ../sass/_shared.scss */
.dataview-basic .x-dataview-item .img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: 50%;
  float: left;
}
/* line 186, ../sass/_shared.scss */
.dataview-basic .x-dataview-item .content {
  vertical-align: top;
  margin-left: 100px;
  padding: 10px 0px 0px 20px;
}
/* line 191, ../sass/_shared.scss */
.dataview-basic .x-dataview-item .content .name {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 199, ../sass/_shared.scss */
.dataview-basic .x-dataview-item .content .affiliation {
  color: #9d9d9d;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



/* For right side navigation */
 
.slide ,
.nav-list {
-webkit-animation-duration: .200s;
-webkit-transition-timing-function: cubic-bezier(0.275, 0.080, 0.425, 0.855);
}
 
.slide {
z-index: 2;
-webkit-box-shadow: inset 15px 0px 30px -15px rgba(0,0,0,1);
background: white;
}
 
/* Main view */
 
.slide.out {
-webkit-animation-name: slideout !important;
-webkit-transform: translateX(-350px) !important;

}
 
.slide.in {
-webkit-animation-name: slidein !important;
-webkit-transform: translateX(0px) !important;
}
 
@-webkit-keyframes slideout {
from {
-webkit-transform: translateX(0px) !important;
}
 
to {
-webkit-transform: translateX(-350px)!important;
};
}
 
@-webkit-keyframes slidein {
from {
-webkit-transform: translateX(-350px)!important;
}
 
to {
-webkit-transform: translateX(0px)!important;
};
}
 
/* Main view ENDS */
 
/* Nav menu view */
 
.nav-list {
position: absolute !important;
height: 100%;
right: 0;
-webkit-box-shadow: inset 15px 0px 30px -15px rgba(0,0,0,1);
background: white;
z-index: 1;
}
 
.nav-list .x-list-item {
color: rgb(223, 223, 223);
border-bottom: 1px solid #000 !important;
border-top: 1px solid #333 !important;
font-size: 15px;
}
.card-item{
-webkit-box-shadow: inset 15px 0px 30px -15px rgba(0,0,0,1);
background: white;
}

.desktop-list {
	text-align:left
}
.desktop-list .categories-list-container {
	max-width:1024px;
	margin:0 auto
}
.desktop-list .desktop-list-item {
	background: white;
	height:140px;
	-webkit-transition:background 0.2s ease-in,border-color 0.2s ease-in;
	border-radius: 15px;
	
}

body.x-phone .desktop-list .desktop-list-item {
	margin:0 20px;
	margin-top:20px;
	padding:10px
	
}
body.x-phone .desktop-list .desktop-list-item:first-child {
	margin-top:0
}
body:not(.x-phone) .desktop-list .desktop-list-item {
	display:inline-block;
	padding:10px 20px
}
.desktop-list .desktop-list-item .image {
	
	background-position:center;
	background-repeat:no-repeat;
	height:80px;
	max-width:100px
}
body.x-phone .desktop-list .desktop-list-item .image {
	margin:0 auto
}
body:not(.x-phone) .desktop-list .desktop-list-item .image {
	width:100px
}
.desktop-list .desktop-list-item .name {
	padding-top:20px;
	font-size:20px;
	text-align:center;
	color:#2784C9;
	font-family:"Quattrocento Sans",sans-serif
}
.x-landscape .desktop-list .desktop-list-item {
	
	margin:10px;

}
.x-portrait .desktop-list .desktop-list-item {
	margin:20px
}
.desktop-list .x-item-pressed {
	background:#7ACBF4;
	border-color:#7ACBF4
}
.desktop-list .desktop-list-inner {
	line-height:10px
}
.x-landscape .desktop-list .desktop-list-inner {
	padding-top:10px
}
.x-portrait .desktop-list .desktop-list-inner {
	padding-top:20px;
	padding-bottom:20px
}

